body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1785px;
  height:75px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3380 {
  position:absolute;
  left:305px;
  top:142px;
  width:1785px;
  height:75px;
}
#u3381 {
  position:absolute;
  left:2px;
  top:30px;
  width:1781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3382 {
  position:absolute;
  left:325px;
  top:160px;
  width:40px;
  height:40px;
}
#u3383 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u3384 {
  position:absolute;
  left:365px;
  top:169px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u3385 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3386 {
  position:absolute;
  left:496px;
  top:168px;
  width:97px;
  height:43px;
}
#u3387 {
  position:absolute;
  left:2px;
  top:14px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u3388 {
  position:absolute;
  left:508px;
  top:178px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u3389 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1624px;
  height:1194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3390 {
  position:absolute;
  left:466px;
  top:228px;
  width:1624px;
  height:1194px;
}
#u3391 {
  position:absolute;
  left:2px;
  top:589px;
  width:1620px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u3392 {
  position:absolute;
  left:526px;
  top:275px;
  width:228px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u3393 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u3394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u3394 {
  position:absolute;
  left:526px;
  top:379px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u3395 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u3396 {
  position:absolute;
  left:516px;
  top:908px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u3397 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1566px;
  height:2px;
}
#u3398 {
  position:absolute;
  left:495px;
  top:337px;
  width:1565px;
  height:1px;
}
#u3399 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1561px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1566px;
  height:2px;
}
#u3400 {
  position:absolute;
  left:495px;
  top:442px;
  width:1565px;
  height:1px;
}
#u3401 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1561px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3402 {
  position:absolute;
  left:1198px;
  top:1199px;
  width:140px;
  height:40px;
}
#u3403 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3404 {
  position:absolute;
  left:620px;
  top:379px;
  width:300px;
  height:25px;
}
#u3404_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u3405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u3405 {
  position:absolute;
  left:516px;
  top:1065px;
  width:57px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u3406 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1566px;
  height:2px;
}
#u3407 {
  position:absolute;
  left:485px;
  top:1036px;
  width:1565px;
  height:1px;
}
#u3408 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1561px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u3409 {
  position:absolute;
  left:526px;
  top:482px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u3410 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:281px;
}
#u3411 {
  position:absolute;
  left:620px;
  top:469px;
  width:1441px;
  height:281px;
}
#u3412 {
  position:absolute;
  left:2px;
  top:132px;
  width:1437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3413 {
  position:absolute;
  left:620px;
  top:523px;
  width:1441px;
  height:208px;
}
#u3413_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:208px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3414 {
  position:absolute;
  left:598px;
  top:1064px;
  width:300px;
  height:25px;
}
#u3414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1566px;
  height:2px;
}
#u3415 {
  position:absolute;
  left:485px;
  top:796px;
  width:1565px;
  height:1px;
}
#u3416 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1561px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u3417 {
  position:absolute;
  left:516px;
  top:1142px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u3418 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3419 {
  position:absolute;
  left:598px;
  top:1148px;
  width:100px;
  height:16px;
}
#u3420 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3419_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3421 {
  position:absolute;
  left:708px;
  top:1148px;
  width:100px;
  height:16px;
}
#u3422 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3421_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1566px;
  height:2px;
}
#u3423 {
  position:absolute;
  left:485px;
  top:1119px;
  width:1565px;
  height:1px;
}
#u3424 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1561px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:1080px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3425 {
  position:absolute;
  left:170px;
  top:142px;
  width:135px;
  height:1080px;
}
#u3426 {
  position:absolute;
  left:2px;
  top:532px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3427 {
  position:absolute;
  left:170px;
  top:342px;
  width:135px;
  height:60px;
  color:#999999;
}
#u3428 {
  position:absolute;
  left:2px;
  top:22px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3429 {
  position:absolute;
  left:201px;
  top:241px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3430 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3431 {
  position:absolute;
  left:201px;
  top:301px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3432 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3433 {
  position:absolute;
  left:201px;
  top:359px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3434 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3435 {
  position:absolute;
  left:204px;
  top:419px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3436 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3437 {
  position:absolute;
  left:204px;
  top:475px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3438 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3439 {
  position:absolute;
  left:204px;
  top:523px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3440 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3441 {
  position:absolute;
  left:204px;
  top:576px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u3442 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3443 {
  position:absolute;
  left:218px;
  top:1142px;
  width:40px;
  height:40px;
}
#u3444 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
}
#u3445 {
  position:absolute;
  left:194px;
  top:157px;
  width:80px;
  height:43px;
}
#u3446 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u3447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:1000px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3447 {
  position:absolute;
  left:305px;
  top:222px;
  width:161px;
  height:1000px;
}
#u3448 {
  position:absolute;
  left:2px;
  top:492px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3449 {
  position:absolute;
  left:325px;
  top:282px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3450 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3451 {
  position:absolute;
  left:325px;
  top:241px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u3452 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:99px;
}
#u3453 {
  position:absolute;
  left:589px;
  top:881px;
  width:203px;
  height:99px;
}
#u3454 {
  position:absolute;
  left:2px;
  top:42px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:9px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3455 {
  position:absolute;
  left:667px;
  top:921px;
  width:47px;
  height:9px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3456 {
  position:absolute;
  left:2px;
  top:-4px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3457 {
  position:absolute;
  left:667px;
  top:922px;
  width:47px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3458 {
  position:absolute;
  left:2px;
  top:-5px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
