body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:977px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u129 {
  position:absolute;
  left:227px;
  top:56px;
  width:750px;
  height:1334px;
}
#u130 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:56px;
}
#u131 {
  position:absolute;
  left:720px;
  top:427px;
  width:224px;
  height:56px;
}
#u132 {
  position:absolute;
  left:2px;
  top:20px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:99px;
}
#u133 {
  position:absolute;
  left:267px;
  top:756px;
  width:688px;
  height:99px;
}
#u134 {
  position:absolute;
  left:2px;
  top:42px;
  width:684px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:94px;
}
#u135 {
  position:absolute;
  left:250px;
  top:878px;
  width:694px;
  height:94px;
}
#u136 {
  position:absolute;
  left:2px;
  top:39px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:85px;
}
#u137 {
  position:absolute;
  left:279px;
  top:1299px;
  width:80px;
  height:85px;
}
#u138 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:95px;
}
#u139 {
  position:absolute;
  left:548px;
  top:1299px;
  width:99px;
  height:95px;
}
#u140 {
  position:absolute;
  left:2px;
  top:40px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:239px;
}
#u141 {
  position:absolute;
  left:491px;
  top:124px;
  width:222px;
  height:239px;
}
#u142 {
  position:absolute;
  left:2px;
  top:112px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
