body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1154px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u0 {
  position:absolute;
  left:227px;
  top:56px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:70px;
}
#u2 {
  position:absolute;
  left:867px;
  top:111px;
  width:89px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u4 {
  position:absolute;
  left:249px;
  top:715px;
  width:158px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:445px;
}
#u6 {
  position:absolute;
  left:239px;
  top:813px;
  width:354px;
  height:445px;
}
#u7 {
  position:absolute;
  left:2px;
  top:214px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:89px;
}
#u8 {
  position:absolute;
  left:553px;
  top:1301px;
  width:113px;
  height:89px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:93px;
}
#u10 {
  position:absolute;
  left:834px;
  top:1301px;
  width:96px;
  height:93px;
}
#u11 {
  position:absolute;
  left:2px;
  top:38px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:67px;
}
#u12 {
  position:absolute;
  left:867px;
  top:111px;
  width:89px;
  height:67px;
}
#u13 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u14 {
  position:absolute;
  left:806px;
  top:713px;
  width:150px;
  height:62px;
}
#u15 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:73px;
}
#u16 {
  position:absolute;
  left:249px;
  top:105px;
  width:83px;
  height:73px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:133px;
}
#u18 {
  position:absolute;
  left:46px;
  top:20px;
  width:203px;
  height:133px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:158px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:144px;
}
#u20 {
  position:absolute;
  left:966px;
  top:594px;
  width:188px;
  height:144px;
}
#u21 {
  position:absolute;
  left:19px;
  top:26px;
  width:167px;
  word-wrap:break-word;
}
