body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:977px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u165 {
  position:absolute;
  left:227px;
  top:56px;
  width:750px;
  height:1334px;
}
#u166 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:79px;
}
#u167 {
  position:absolute;
  left:853px;
  top:355px;
  width:108px;
  height:79px;
}
#u168 {
  position:absolute;
  left:2px;
  top:32px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:85px;
}
#u169 {
  position:absolute;
  left:278px;
  top:1305px;
  width:80px;
  height:85px;
}
#u170 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:92px;
}
#u171 {
  position:absolute;
  left:558px;
  top:1298px;
  width:89px;
  height:92px;
}
#u172 {
  position:absolute;
  left:2px;
  top:38px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:76px;
}
#u173 {
  position:absolute;
  left:244px;
  top:112px;
  width:90px;
  height:76px;
}
#u174 {
  position:absolute;
  left:2px;
  top:30px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:146px;
}
#u175 {
  position:absolute;
  left:471px;
  top:717px;
  width:250px;
  height:146px;
}
#u176 {
  position:absolute;
  left:2px;
  top:25px;
  width:246px;
  word-wrap:break-word;
}
