body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:944px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8083 {
  position:absolute;
  left:429px;
  top:233px;
  width:1220px;
  height:944px;
}
#u8084 {
  position:absolute;
  left:2px;
  top:464px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:75px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8085 {
  position:absolute;
  left:305px;
  top:142px;
  width:1344px;
  height:75px;
}
#u8086 {
  position:absolute;
  left:2px;
  top:30px;
  width:1340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8087 {
  position:absolute;
  left:325px;
  top:160px;
  width:40px;
  height:40px;
}
#u8088 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u8089 {
  position:absolute;
  left:365px;
  top:169px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u8090 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8091 {
  position:absolute;
  left:495px;
  top:167px;
  width:136px;
  height:45px;
}
#u8092 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u8093 {
  position:absolute;
  left:526px;
  top:178px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u8094 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u8095 {
  position:absolute;
  left:526px;
  top:260px;
  width:169px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u8096 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u8097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u8097 {
  position:absolute;
  left:526px;
  top:455px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u8098 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u8099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:2px;
}
#u8099 {
  position:absolute;
  left:465px;
  top:322px;
  width:1184px;
  height:1px;
}
#u8100 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8101 {
  position:absolute;
  left:621px;
  top:452px;
  width:305px;
  height:34px;
}
#u8101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:2px;
}
#u8102 {
  position:absolute;
  left:465px;
  top:496px;
  width:1184px;
  height:1px;
}
#u8103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8104 {
  position:absolute;
  left:1293px;
  top:980px;
  width:140px;
  height:40px;
}
#u8105 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8106 {
  position:absolute;
  left:526px;
  top:359px;
  width:71px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8107 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:2px;
}
#u8108 {
  position:absolute;
  left:465px;
  top:419px;
  width:1184px;
  height:1px;
}
#u8109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:1080px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8110 {
  position:absolute;
  left:170px;
  top:142px;
  width:135px;
  height:1080px;
}
#u8111 {
  position:absolute;
  left:2px;
  top:532px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8112 {
  position:absolute;
  left:170px;
  top:456px;
  width:135px;
  height:60px;
}
#u8113 {
  position:absolute;
  left:2px;
  top:22px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8114 {
  position:absolute;
  left:201px;
  top:241px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8115 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8116 {
  position:absolute;
  left:201px;
  top:301px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8117 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8118 {
  position:absolute;
  left:201px;
  top:359px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8119 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8120 {
  position:absolute;
  left:204px;
  top:419px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8121 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8122 {
  position:absolute;
  left:204px;
  top:475px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8123 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8124 {
  position:absolute;
  left:204px;
  top:542px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8125 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8126 {
  position:absolute;
  left:204px;
  top:600px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#009900;
}
#u8127 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8128 {
  position:absolute;
  left:218px;
  top:1142px;
  width:40px;
  height:40px;
}
#u8129 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
}
#u8130 {
  position:absolute;
  left:194px;
  top:157px;
  width:80px;
  height:43px;
}
#u8131 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u8132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:1000px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8132 {
  position:absolute;
  left:305px;
  top:222px;
  width:161px;
  height:1000px;
}
#u8133 {
  position:absolute;
  left:2px;
  top:492px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8134 {
  position:absolute;
  left:340px;
  top:241px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8135 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8136 {
  position:absolute;
  left:340px;
  top:279px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8137 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8138 {
  position:absolute;
  left:744px;
  top:355px;
  width:40px;
  height:40px;
}
#u8139 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8141 {
  position:absolute;
  left:763px;
  top:362px;
  width:3px;
  height:26px;
}
#u8142 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8143 {
  position:absolute;
  left:763px;
  top:362px;
  width:3px;
  height:26px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8144 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8145 {
  position:absolute;
  left:621px;
  top:355px;
  width:96px;
  height:31px;
}
#u8146 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u8147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:2px;
}
#u8147 {
  position:absolute;
  left:465px;
  top:552px;
  width:1184px;
  height:1px;
}
#u8148 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u8149 {
  position:absolute;
  left:517px;
  top:520px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u8150 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u8151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:2px;
}
#u8151 {
  position:absolute;
  left:465px;
  top:610px;
  width:1184px;
  height:1px;
}
#u8152 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:2px;
}
#u8153 {
  position:absolute;
  left:465px;
  top:669px;
  width:1184px;
  height:1px;
}
#u8154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:2px;
}
#u8155 {
  position:absolute;
  left:465px;
  top:727px;
  width:1184px;
  height:1px;
}
#u8156 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u8157 {
  position:absolute;
  left:526px;
  top:569px;
  width:44px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u8158 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u8159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8159 {
  position:absolute;
  left:526px;
  top:631px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8160 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8161 {
  position:absolute;
  left:526px;
  top:694px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8162 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:407px;
}
#u8163 {
  position:absolute;
  left:610px;
  top:322px;
  width:1px;
  height:406px;
}
#u8164 {
  position:absolute;
  left:2px;
  top:195px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8165 {
  position:absolute;
  left:621px;
  top:507px;
  width:305px;
  height:35px;
}
#u8166 {
  position:absolute;
  left:2px;
  top:10px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8167 {
  position:absolute;
  left:626px;
  top:512px;
  width:271px;
  height:24px;
}
#u8167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8168 {
  position:absolute;
  left:626px;
  top:457px;
  width:263px;
  height:20px;
}
#u8168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8169 {
  position:absolute;
  left:621px;
  top:569px;
  width:305px;
  height:35px;
}
#u8170 {
  position:absolute;
  left:2px;
  top:10px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8171 {
  position:absolute;
  left:626px;
  top:574px;
  width:271px;
  height:24px;
}
#u8171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8172 {
  position:absolute;
  left:621px;
  top:682px;
  width:305px;
  height:35px;
}
#u8173 {
  position:absolute;
  left:2px;
  top:10px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8174 {
  position:absolute;
  left:631px;
  top:687px;
  width:271px;
  height:24px;
}
#u8174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8175 {
  position:absolute;
  left:1083px;
  top:980px;
  width:140px;
  height:40px;
}
#u8176 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8177 {
  position:absolute;
  left:621px;
  top:623px;
  width:90px;
  height:38px;
}
#u8177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#5E5E5E;
}
#u8177_input:disabled {
  color:grayText;
}
